.hide{
	display: none;
	visibility: hidden;
}

html{
	font-rendering: geometricPrecision;
}

body{
	font-family:'Akkurat', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
	font-style: normal;
	font-stretch: normal;
}

.bg{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	background: url(../images/2560x1440_tilesbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-centered{
	text-align: center;
}

h1{
	font-weight: normal;
    font-style: normal;
}

h1, p{
	font-family:'AkkuratLight', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
	color: #fff;
	font-weight: 100;
}

.lead{
	font-size: 22px;
	margin-top: 30px;	
}

.form-contain{
	margin-top: 50px;
}

input, textarea, select{
	font-family:'AkkuratLight', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
}

.form-control {
    border: 2px solid #fff;
}

.form-control::-webkit-input-placeholder { color:#808080; }
.form-group input[type="text"]::-moz-placeholder { color:#808080; }
.form-group input[type="text"]:-moz-placeholder { color:#808080; }

.form-group input[type="text"] {
     color: #808080;     
}


.form-group.focus .form-control,
.form-control:focus {
  border-color: #6eb2bd;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.form-control.flat {
  border-color: transparent;
}
.form-control.flat:hover {
  border-color: #bdc3c7;
}
.form-control.flat:focus {
  border-color: #1abc9c;
}
*/


/* DROPDOWN BTN */
.btn-default{
	background: #ccc;
}

.dropdown{
	margin-top: 18px;
}
/* aligns dropdown arrow */
.dropdown-arrow {
      right: 598px;
}

.centerbtn{
	width: 100%;
	display: inline-block;
	text-align: center;
}
/* USED FOR DROPDOWN */
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #6eb2bd;
    border-color: #6eb2bd;
}

.btn-hg{
	background: #6eb2bd;
	color: #fff;
	padding: 12px 0;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 25px;
/*     margin-bottom: 30px; */
}

.btn-hg:hover{
	background: #4d8e98;
}

.dropdown-inverse{
	background-color: #ccc;
    color: #666;
}

.dropdown-menu li.active > a,
.dropdown-menu li.selected > a,
.dropdown-menu li.active > a.highlighted,
.dropdown-menu li.selected > a.highlighted {
  background: #6eb2bd;
  color: #ffffff;
}
.dropdown-menu li.active > a:hover,
.dropdown-menu li.selected > a:hover,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.selected > a:focus,
.dropdown-menu li.active > a.highlighted:focus,
.dropdown-menu li.selected > a.highlighted:focus {
  background: #6eb2bd;
  color: #ffffff;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
  background: #6eb2bd;
  color:#fff;
}
.dropdown-menu li > a.highlighted {
  background: #6eb2bd;
  color: #fff;
}
.dropdown-menu li > a.highlighted:hover,
.dropdown-menu li > a.highlighted:focus {
  background: lime;
  color: #ffffff;
}

.btn-primary:hover, 
.btn-primary.hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary{
	color: #fff;
    background-color: #4d8e98;
}

.btn-submit{
	background: #6eb2bd;
	color: #fff;
	padding: 16px 40px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 30px;
}

.btn-submit:hover{
	background: #4d8e98;
}

.btn-submit:active {
	position: relative;
	top: 1px;
}
 
.freemonth{
	font-family: 'AkkuratBold', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
    background: #6eb2bd;
    margin: 70px 300px 0 300px;
    padding: 30px;
    border-radius: 3px;
    font-size: 25px;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px){
	
	.lead{
		font-size: 28px;
		margin-top: 60px;
	}
	
	.form-contain{
		margin: 50px 100px 0 100px;
		
	}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px){ 
	
	.lead{
		font-size: 31px;
		margin-top: 60px;
	}
	
	.form-contain{
		margin: 50px 100px 0 100px;
		
	}
}

/* Desktops ( desktops, 1200px and up) */
@media screen and (min-width: 1200px){ 	
	
	.lead{
		font-size: 32px;
		margin: 80px 40px 0 40px;
	}
	
	.form-contain{
		margin: 50px 200px 0px 200px;
		
	}

}
/* Large desktops ( desktops, 1600px and up) */
@media screen and (min-width: 1600px){
	
	.lead{
		font-size: 40px;
		margin: 100px 60px 0 60px;
	}
	
	.form-contain{
		margin: 50px 230px 0px 230px;
		
	}
	
/* Super large desktops ( desktops, 1900px and up) */
@media screen and (min-width: 1900px){
	
	.lead{
		font-size: 40px;
		margin: 200px 60px 0 60px;
	}
	
	.form-contain{
		margin: 50px 230px 0px 230px;
		
	}
	
	
}	







