/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    font-size: 1em;
    line-height: 1.4;
    font-rendering: optimizeLegibility;
}

::-moz-selection {
    background: #74bfc1;
    text-shadow: none;
}

::selection {
    background: #74bfc1;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/2560x1440_tilesbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper{
	padding: 0 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content{
	text-align: center;
    position: fixed;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(-60%);
}

.formcontainer{
/* 	float: left; */
	width: 100%;
	background: blue;
}

.centerbtn{
	width: 100%;
	display: inline-block;
}

h1{
	text-align: center;
	margin: 0 auto;
	color: #fff;
	margin: 2em 0;
	font-weight: 400;
}

/* ------- FORM --------*/

form {
	margin: 0;
	padding: 0;
}

/* Styles text boxes */

input, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial,  sans-serif;
	width: 90%;
    height:1.688em;
    background:#fff;
    border:4px solid #fff;
    padding:0.8em;
    margin-top:1.5em;
    font-size:1em;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
	font-weight: 400;
	-webkit-transition: border .2s ease;
}

select{
	font-family: "Helvetica Neue", Helvetica, Arial,  sans-serif;
}

:-webkit-input-placeholder {
    color:   red;
    background: fuchsia;
}
:-moz-placeholder {
    color:    red;
    background: fuchsia;
}
:-ms-input-placeholder {
        color:    red;
        background: fuchsia;
}

input:focus, textarea:focus {
    border:4px solid #74bfc1;
    outline:0px none transparent;
}

#submit {
    width: 10em;
    height: 3.5em;
    color: #fff;
    background: #6eb2bd;
    border: none;
    margin-top: 3em;
    cursor: pointer;
    border-radius: 1.875em;
	text-transform: uppercase;
}

	#submit:hover {
	    background: #4b909b;
	}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}